@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.background {
  background: linear-gradient(45deg, rgb(0, 23, 49), rgb(32, 92, 102));
  background-repeat: space;
}

.navbar-bg {
  background: linear-gradient(45deg, rgb(0, 23, 49), rgb(32, 92, 102));
  background-size: 100vw 100vh; /* Ensures the gradient covers the full size of the div */
  background-repeat: no-repeat; /* Prevents repeating of the gradient */
  background-clip: border-box; /* Clips the gradient to the div's border box */
}
